<header>
  <h1 [innerHTML]="title + ' ' + info"></h1>
  <button class="btn btn-primary">
    <a class="fixlink" href="machines">Machines</a>

      <!-- <select name="demo" id="#">
        <option selected="selected" value="all">All Products</option>
        <option value="machines">Machines</option>
        <option value="beans">Beans</option>
        <option value="cups">Cups</option>
        </select> -->
  </button>
  <button class="btn btn-primary">
    <a class="fixlink" href="beans">
      Beans
    </a>
  </button>
  <button class="btn btn-primary">
    <a class="fixlink"  href="cups">
      Cups
    </a>
  </button>

</header>
