header {
  border: lightgrey solid 2px;
  background-color: rgba(30, 17, 0, 0.648);
  font-weight: bold;
  border-radius: 20px;
  margin: 1em;
  text-align: center;

}
h1 {
  color: rgb(245, 240, 216);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2em;
  padding: 1rem;

}
.btn-primary {
  color: #cad2c5;
  background-color: #414833;
  border-color: #656d4a;
  border-radius: 10px;
  margin-left: 0.5rem;
  transition: background-color 200ms ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #2e401c;
  background-color: #bfab67;
  border-color: #656d4a;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 60px 100px 0 rgb(0, 0, 0);
  transform: translateY(-0.20em);
}
.fixlink{
  color: #cad2c5;
  font-size: 1rem;
  text-align:center;
  text-decoration: none;
}
.fixlink:hover,
.fixlink:focus{
  color:#2e401c;
}

