header {
  border: lightgrey solid 2px;
  background-color: rgb(65, 37, 2);
  font-weight: bold;
  border-radius: 20px;
  margin: 1em;
  text-align: center;

}
h1 {
  color: rgb(245, 240, 216);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2em;
  padding: 1rem;

}
