body {
  display: block;
  margin: auto;
  padding: 0px;
  border: solid lightgrey 1px;
  background-image: url('/assets/images/bodybg.jpg');
}

/*nav---------------------------------------------------------------------------- */
h2 {
  font-size: 3em;
  color: #370617;
  text-align: center;
  padding-top: 2.5rem;
}

h3 {
  color:rgba(0, 0, 0, 0.727);
  text-align: center;
  font-family:'Times New Roman', 'Times', 'serif';
  font-weight: 700;
}


header {
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: solid grey 2px;
  border-radius: 20px;
  height: 180px;
  margin: 1em;
}

.navlinks {
  padding-bottom: 1rem;
  text-align: center;
}

/* links in nav */
.navlinks a {
  color: #cad2c5;
  font-size: 1em;
  font-weight: bold;
}

.navlinks a:hover {
  color: #2e401c;
  text-decoration: none;
  cursor: pointer;
}

#username {
  background-color: #eae0d5;
  border-radius: 0.5rem;
  margin: 1rem;
}

#password {
  background-color: #eae0d5;
  border-radius: 0.5rem;
  margin: 1rem;
}

.dropdown-menu {
  background-color: #414833;
  padding: 0;
  margin: 0;
}

.dorpdown-item {
  background-color: #414833;
  border-color: #656d4a;
}

.dropdown-item:hover {
  background-color: rgb(255, 81, 0);
  border-color: #656d4a;
  cursor: pointer;
}

#shopping {
  color: darkred;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 0.7rem;
}

#deletBtn {
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

#shoppingCart {
  padding: 1.5rem;
}

#cartBorder {
  border-radius: 1rem;
  background-color: #eae0d5;
}

option {
  color: #cad2c5;
  background-color: #414833;
  border-color: #656d4a;
  text-align: left;
  cursor: pointer;
  padding: 2rem;
}

/*-header-----------------------------------------------------------------------------*/
h1 {
  color: rgb(245, 240, 216);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 2em;
  padding: 1rem;
}

nav {
  border: lightgrey solid 2px;
  background-color: rgb(110, 77, 36);
  font-weight: bold;
  border-radius: 20px;
  margin: 1em;
}

.basket {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.411);
  transition: 0.3s;
  background-color: #f2e9e4;
  border-radius: 20px;
  width: auto;
  height: auto;
  text-align: center;
}

#cart {
  display: block;
  font-size: 1rem;
  color: #cad2c5;
}

#cart:hover {
  color: #2e401c;
}

#remove {
  display: block;
  color: #cad2c5;
}

#remove:hover {
  color: #2e401c;
}

.soldOut {
  color: red;
}


/* cards--------------------------------------------------------------------------------*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.411);
  transition: 0.3s;
  width: 20rem;
  margin: 2rem;
  background-color: #f2e9e4;
  border-radius: 20px;
  float: left;
  padding: 1em;
  font-weight: bold;
  display: grid;
}

/*cards buttons*/
.image-link {
  color: #cad2c5;
  background-color: #414833;
  border-color: #656d4a;
  border-radius: 10px;
  margin-right: 0.5rem;
  transition: background-color 200ms ease-in-out;
}

.image-link:hover,
.image-link:focus {
  color: #2e401c;
  background-color: #bfab67;
  border-color: #656d4a;
  border-radius: 50px;
  transition: 2s;
}

a.image-link {
  padding: 0.8rem;
  font-size: 1rem;
}

.btn-primary {
  color: #cad2c5;
  background-color: #414833;
  border-color: #656d4a;
  border-radius: 10px;
  margin-left: 0.5rem;
  transition: background-color 200ms ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #2e401c;
  background-color: #bfab67;
  border-color: #656d4a;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 60px 100px 0 rgb(0, 0, 0);
  transform: translateY(-0.20em);
}

.badge badge-light {
  background-color: #fff1e6;
}

/* image in the card */
img {
  border-radius: 20px;
}

.card-img,
.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-text {
  color: grey;
  width: 200px;
  height: 90px;
}

.card:hover {
  box-shadow: 0 60px 100px 0 rgba(36, 20, 20, 0.918);
  background-color: rgb(65, 37, 2);
  color: rgb(245, 240, 216);
  border-radius: 30px;
  transition: 1s;
  transform: translateY(-0.25em);
}

a {
  text-decoration: none;
}

h5 {
  color: black;
}

.card:hover h5 {
  color: white;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.total-quantity {
  text-align: center;
  font-weight: bold;
}

.disabledButton {
  color: #2e401c;
  background-color: #bfab67 !important;
  border-color: #656d4a;
  border-radius: 50px;
}

.onSale {
  position: relative;
  color: grey;
}

.onSale:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: rgba(243, 0, 0, 0.671);


  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.newPrice30 {
  color: rgb(0, 149, 137);
  font-weight: bold;
}

.newPrice50 {
  color: rgb(0, 98, 190);
  font-weight: bold;
}



#border {
  border-color: lightgrey;
  border-style: solid;
  border-radius: 10px;
  padding: 1rem;
}

#saleBorder {
  border-color: rgba(0, 121, 111, 0.15) !important;
  border-style: solid !important;
  border-radius: 10px !important;
  padding: 0.4rem;
}

/* sidebar-----------------------------------------------------------------------------*/
.sidenav {
  height: auto;
  width: 200px;
  left: 0;
  background-color: #fff1e69d;
  overflow-x: hidden;
  padding-top: 20px;
  border-radius: 10px;
  margin-right: 3rem;
}

.sideBtn {
  margin-top: 4rem;
  margin-bottom: 4rem;
}


/* footer------------------------------------------------------------------------------*/
/*the footer stays onL*/
#footer {
  bottom: 0;
  height: 90px;
  margin-top: 100px;
  margin-bottom: 0;
  background-color: #f2e9e4;
  border-radius: 10px;
}

/*facebook, instagram, twitter*/
.fa {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  color: white;
  border-radius: 10%;
  display: inline-block;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #55ACEE;
}

.fa-instagram {
  background: #d55d92;
}

.nav-item {
  font-size: 20px;
}

/*home page-----------------------------------------------------------------------------*/
#homeNav {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#homeImg {
  background-size: 100% 100%;
  width: 1500px;
  height: 900px;
  opacity: 0.5;
}

/* log in-------------------------------------------------------------------------------*/
#login{
  border:#2e401c solid;
  background-color: #f2e9e4;
  padding:2rem;
  padding-bottom:4rem;
  border-radius: 10px;
  margin:4rem;
}

#register{
  border:#2e401c solid;
  background-color: #f2e9e4;
  padding:2rem;
  padding-bottom:4rem;
  border-radius: 10px;
  margin-top:4rem;
  margin-bottom:4rem;

}
.fixlink{
  color: #cad2c5;
  font-size: 1rem;
  text-align:center;
}
.fixlink:hover,
.fixlink:focus{
  color:#2e401c;
}
.fixlink2{
  color: black;
  font-size: 1rem;
  text-align:center;
}
.fixlink2:hover,
.fixlink2:focus{
  color:#cad2c5;
}

#detail{
  background-color: rgba(82, 82, 82, 0.726) !important;
  border-style: solid !important;
  border-radius: 10px !important;
  padding: 8rem;
  margin-left:1rem;
}

/* responsive --------------------------------------------------------------------------*/
@media (min-width:901px) and (max-width:1750px) {
  #homeImg {
      width: 650px;
      height: 550px;
  }
}

@media (min-width:509px) and (max-width:900px) {
  #homeImg {
      background-size: 100% 100%;
      width: 350px;
      height: 250px
  }

}

@media (min-width:375px) and (max-width:510px) {
  h2 {
      font-size: 2em;
      padding-bottom: 0.5rem;
  }

  h1 {
      font-size: 1.5em;
  }

  #homeImg {
      background-size: 100% 100%;
      width: 400px;
      height: 350px
  }

  #homeNav {
      text-align: center;
      padding-top: 0.2rem;
      padding-bottom: 0.25rem;
  }


}

@media (max-width:375px) {
  h2 {
      font-size: 2em;
      padding-bottom: 0.5rem;
  }

  h1 {
      font-size: 0.7em;
  }

  .navlinks a {
      font-size: 0.5em;
      font-weight: bold;
  }

  .btn-primary {
      margin-left: 0.5rem;
      transition: background-color 200ms ease-in-out;
      -ms-text-size-adjust: auto;
  }

  #footer {
      height: 90px;
  }

  option {
      font-size: 0.5rem;
  }

  #homeImg {
      background-size: 100% 100%;
      width: 300px;
      height: 250px
  }

  #homeNav {
      text-align: center;
      padding-top: 0;
      padding-bottom: 0.2rem;
  }

  /*facebook, instagram, twitter*/
  .fa {
      width: 30px;
      height: 30px;
      padding: 4px;
      font-size: 25px;
      margin: 4px 4px;
  }

  .nav-item {
      font-size: 15px;

  }

  .text-muted {
      font-size: 15px;
  }
}

