<app-nav [shoppingCart]="shoppingCart" [totalQuantity]="totalQuantity" [totalPrice]="totalPrice" [totalPriceNoSale]="totalPriceNoSale"></app-nav>
<app-header></app-header>
<h3>BEANS</h3>
<div class="container-fluid block">
  <div  *ngFor="let product of products; let index=index;">
    <div class="container-fluid products block product_card card" *ngIf="product.category==='beans'">
        <img [src]="imagePath+product.image" class="card-img-top" >
      <div class="cart-body">
        <h5>{{product.name}}</h5><hr>
          <p *ngIf="product.onSale30">
          <b>Sale 30%</b>
          <span class="onSale">{{product.price}}$</span><br>
          <span class="newPrice30">New Price: <b>{{product.price -product.price*30/100}}</b></span>
        </p>
        <p *ngIf="product.onSale50"><b>Sale 50%</b>
          <span class="onSale">{{product.price}}$</span><br>
          <span class="newPrice50">New Price: <b>{{product.price -product.price*50/100}}</b></span>
        </p>
        <p *ngIf="!product.onSale30 && !product.onSale50"><b>Price:</b><br> {{product.price}}$</p><hr>
        <p class="soldOut" *ngIf="product.stock===0">Sold Out</p>
        <p class="soldOut" *ngIf="product.stock<=5 && product.stock>0">Almost Sold Out</p>
        <p *ngIf="product.stock>5">In Stock</p>
        <span [innerHTML]="cartIcon"></span>
        <button class="addToCart btn btn-primary" (click)="addToCart(product)" [disabled]="product.stock==0">Add to Cart</button>
        <a [routerLink]="'/detail/'+product.id">
          <button class="btn btn-primary" (click)="detail(index)">Detail</button>
        </a>
      </div>
    </div>
  </div>
</div>
