<main>
  <div class="block">

      <div class="block">
          <div class="card container-fluid col-md-5">
              <a href="/assets/images/simplecoffem.jpg"> <img src="/assets/images/simplecoffem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Simple and tasty </h5>
                  <h5>CM357e</h5>
                  <p class="card-text">A simple coffee machine that makes a tasty coffee, takes no space in the
                      kitchen.</p>
                  <p>Price: 45$</p>
                  <p class="soldOut"> Almost Sold Out</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="1" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/profitionalcoffem.jpg"> <img src="/assets/images/profitionalcoffem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Profitional</h5>
                  <h5>CM359e</h5>
                  <p class="card-text">For coffee lovers, this is the one you need.</p>
                  <p>Price: 899$</p>
                  <p>Stock: 4</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="2" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/freshcoffeem.jpg"> <img src="/assets/images/freshcoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Fresh</h5>
                  <h5>CM356f</h5>
                  <p class="card-text">Always fresh coffee. With or without milk, so tasty.</p>
                  <p>Price: 150$</p>
                  <p>Stock: 8</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="3" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/filtercoffeem.jpg"> <img src="/assets/images/filtercoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Filter</h5>
                  <h5>CM352f</h5>
                  <p class="card-text">A wonderfull coffee machine. For people who love filtered coffee, this is
                      the
                      best.</p>
                  <p>Price: 200$</p>
                  <p>Stock: 12</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="4" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/easycoffeem.jpg"> <img src="/assets/images/easycoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Easy</h5>
                  <h5>CM363f</h5>
                  <p class="card-text">Nice set. Making coffee with this set is an easy and wonderfull
                      experience.</p>
                  <p>Price: 450$</p>
                  <p>Stock: 25</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="5" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/silvercoffeem.jpg"> <img src="/assets/images/silvercoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Silver</h5>
                  <h5>CM365f</h5>
                  <p class="card-text">A beautifull silver coffee machine, tasty espresso and cappuccino.</p>
                  <p>Price: 130$</p>
                  <p>Stock: 30</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="6" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/smallcoffeem.jpg"> <img src="/assets/images/smallcoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Small & Red</h5>
                  <h5>CM368e</h5>
                  <p class="card-text">Small but tasty. A beautifull red coffee machine that makes a tasty
                      coffee.</p>
                  <p>Price: 99$</p>
                  <p>Stock: 0</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="7" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/takeawaycoffeem.jpg"> <img src="/assets/images/takeawaycoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Take away and enjoy</h5>
                  <h5>CM369e</h5>
                  <p class="card-text">So tasty, so easy to use. Take it with you wherever you go.</p>
                  <p>Price: 55$</p>
                  <p>Stock: 60</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="8" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/handycoffeem.jpg"> <img src="/assets/images/handycoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Handy and tasty</h5>
                  <h5>CM363e</h5>
                  <p class="card-text">Handy and easy to use coffee machine. Makes very tasty coffee.</p>
                  <p>Price: 80$</p>
                  <p>Stock: 20</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="9" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/soprofitionalcoffeem.jpg"> <img
                      src="/assets/images/soprofitionalcoffeem.jpg" class="card-img-top"
                      alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Super Machine</h5>
                  <h5>CM370f</h5>
                  <p class="card-text">A profitional coffee machine, for coffee lovers.</p>
                  <p>Price: 999$</p>
                  <p>Stock: 8</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="10" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/everydaycoffeem.jpg"> <img src="/assets/images/everydaycoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Everyday Coffee</h5>
                  <h5>CM373e</h5>
                  <p class="card-text">Tasty coffee for your everyday life, for you, for your guests, for
                      everybody.</p>
                  <p>Price: 80$</p>
                  <p>Stock: 15</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="11" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/moderncoffeem.jpg"> <img src="/assets/images/moderncoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Modern</h5>
                  <h5>CM377f</h5>
                  <p class="card-text">Modern coffee machine, so beautifull and tasty.</p>
                  <p>Price: 199$</p>
                  <p>Stock: 12</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="12" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/supereasycoffeem.jpg"> <img src="/assets/images/supereasycoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Super easy</h5>
                  <h5>CM371e</h5>
                  <p class="card-text">Super easy coffee machine, for who wants tasty coffee fast.</p>
                  <p>Price: 50$</p>
                  <p>Stock: 22</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="13" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/arabiccoffeem.jpg"> <img src="/assets/images/arabiccoffeem.jpg"
                      class="card-img-top" alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Arabic</h5>
                  <h5>CM378e</h5>
                  <p class="card-text">Set for fresh bewed arabic coffee, so tasty, you'll never regret it.</p>
                  <p>Price: 80$</p>
                  <p>Stock: 10</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="14" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>

          <div class="card container-fluid col-md-5">
              <a href="/assets/images/superprofitionalcoffeem.jpg"> <img
                      src="/assets/images/superprofitionalcoffeem.jpg" class="card-img-top"
                      alt="Photo by mentatdgt from Pexels"></a>
              <div class="card-body">
                  <h5>Super profitional</h5>
                  <h5>CM380f</h5>
                  <p class="card-text">Super profitional coffee machine. Tasty coffee, it's worth it.</p>
                  <p>Price: 1982$</p>
                  <p>Stock: 2</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cart" viewBox="0 0 16 16">
                      <path
                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <button product_id="15" class="addToCart btn btn-primary">Order</button>
              </div>
          </div>
      </div>

  </div>
</main>
