<div>
  <div class="products block">
      <!-- <div class="products block" :class="{'lds-spinner':loading}"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div> -->
          <div class="product_card card container-fluid col-md-5" *ngFor="let product of products">
            <a ng-href="product.image">
              <img [src]="imagePath+product.image" class="card-img-top" >
            </a>
            <div class="cart-body">
              <h5>{{product.name}}</h5><hr>

            </div>
              <!-- <div class="card-body">
                  <h5>{{product.name}}</h5><hr>
                  <p v-if="product.onsale30"><b>Sale 30%</b>
                      <span class="onSale">{{(product.price*1).toFixed(2)}}$</span><br>
                      <span class="newPrice30"> New Price: <b>{{(product.price -product.price*30/100).toFixed(2)}}$</b></span>
                  </p>
                  <p v-else-if="product.onsale50"><b>Sale 50%</b>
                      <span class="onSale">{{(product.price*1).toFixed(2)}}$</span><br>
                      <span class="newPrice50"> New Price: <b>{{(product.price - product.price*50/100).toFixed(2)}}$</b></span>
                  </p>
                  <p v-else>Price: {{(product.price*1).toFixed(2)}}$</p>
                  <p class="soldOut" v-if="product.stock===0">Sold Out</p>
                  <p class="soldOut" v-else-if="product.stock<=5 && product.stock>0">Almost Sold Out</p>
                  <p v-else-if="product.stock>5">In Stock</p>
                  <span>&#x1F6D2;</span>
                  <button class="addToCart btn btn-primary" @click="updateCart(product)" :disabled="product.stock === 0" :class="{disabledButton: product.stock === 0}">Add </button>
                  <a :href="'detail/' + product.id">
                      <button class="btn btn-primary" @click="detail(index)">More Details</button>
                  </a>
              </div> -->
          </div>
      <!-- </div> -->
  </div>
</div>
