#detail{
  background-color: rgba(82, 82, 82, 0.726) !important;
  border-style: solid !important;
  border-radius: 20px !important;
  margin-left:6em;
}

.detail_text {
  padding: 1rem;
}

.onSale {
  position: relative;
  color: grey;
}

.onSale:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: rgba(243, 0, 0, 0.671);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.newPrice30 {
  color: rgb(0, 149, 137);
  font-weight: bold;
}

.newPrice50 {
  color: rgb(0, 98, 190);
  font-weight: bold;
}

#border {
  border-color: lightgrey;
  border-style: solid;
  border-radius: 10px;
  padding: 1rem;
}

#saleBorder {
  border-color: rgba(0, 121, 111, 0.15) !important;
  border-style: solid !important;
  border-radius: 10px !important;
  padding: 0.4rem;
}

.disabledButton {
  color: #2e401c;
  background-color: #bfab67 !important;
  border-color: #656d4a;
  border-radius: 50px;
}
.block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}
#detailImage{
  height: auto;
  border-radius: 20px;
  border: solid black !important;
}
