/* You can add global styles to this file, and also import other style files */
body {
  display: inline-block;
  margin: auto;
  /* padding: 0px; */
  border: solid lightgrey 1px;
  width: 100%;
  background-image: url('/assets/images/bodybg.jpg');
  /* Photo by Monstera from Pexels */
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #eae0d5;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2rem;
  outline: 0;
}
