<button class="btn btn-primary position-relative" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
aria-expanded="false">+<svg xmlns="http://www.w3.org/2000/svg" width="16"
        height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
        <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        <div id=cartButton>0</div>
    </span> &#9662; </button>



<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#footer"> Contact us</a></li>
    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Coffeemaker">About</a></li>

    <div id="cart" class="basket btn btn-primary"><i><b> Shopping Cart: </b></i></div>
    <div id="price" class="basket btn btn-primary"><i><b>Total Price: </b></i></div>
    <button id="remove" class="basket btn btn-primary">Remove All</button>
</ul>
<span class="search">
  <i class="fa fa-search " style="color: #370617;"></i>
  <input class="searchInput" type="text" [(ngModel)]="search" placeholder="SEARCH">
</span>
